*{
    font-family: Roboto, sans-serif;
}

header{
    background-color: #1f2937;
}



footer{
    background-color: #1f2937;
    text-align: center;
    display: block;
    padding: 30px;
    color: #fff;
    font-size: 10px;
}